.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: rgba(3,160,224,.2);
}
.left-section, .mid-section, .right-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.left-section {
  margin-left: 1em;
}
.left-section span {
  cursor: pointer;
}
.mid-section input {
  height: 30px;
}
.mid-section span {
  cursor: pointer;
}
.mid-section img{
  width: 30px;
}
.right-section {
  margin-right: 1em;
}
.right-section span {
  cursor: pointer;
}
@media(max-width: 850px) {

}

